
ion-page {
    background-color: #f0f8ff; 
  }

  ion-header {
    background-color: #4169e1; 
    color: white;
  }

  ion-content {
    --ion-background-color: #f0f8ff; 
  }
  

  ion-title {
    color: #4169e1; 
  }
  

  ion-button {
    color: #4169e1; 
  }
  